form{
    margin: auto;
    width: 220px;
    text-align: center;

}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}

.assetPrice
.AssetName
.AssetDescription{
    border: 3px solid #555;
}


button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}
